# Grouping

In this section we will go over the split-apply-combine strategy and the `groupby()` function.


By the end of this lesson students will be able to:

- Understand and apply the Split-Apply-Combine strategy to analyze grouped data.
- Use `groupby()` to split a `pandas.DataFrame` by one or more columns.
- Calculate summary statistics for groups in a pandas.DataFrame.
- Use method chaining for efficient data analysis.

In [2]:
import numpy as np
import pandas as pd

# Load Palmer penguins data
URL = 'https://raw.githubusercontent.com/allisonhorst/palmerpenguins/main/inst/extdata/penguins.csv'
penguins = pd.read_csv(URL)

penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

## Summary statistics

It is easy to get summary statistics for each column in a pandas.DataFrame by using methods such as

- `sum()`: sum values in each column,
- `count()`: count non-NA values in each column,
- `min() `and `max()`: get the minimum and maximum value in each column,
- `mean()` and `median()`: get the mean and median value in each column,
- `std()` and `var()`: get the standard deviation and variance in each column.

In [3]:
# Get the number of non-NA values in each column 
penguins.count()

species              344
island               344
bill_length_mm       342
bill_depth_mm        342
flipper_length_mm    342
body_mass_g          342
sex                  333
year                 344
dtype: int64