# Subsetting 

Review core methods to select data from a `pandas.DataFrame`

## Read in CSV

In [2]:
import pandas as pd # import pandas library as pd

# Read in file, argument is in the file path 
df = pd.read_csv('data/wetlands_seasonal_bird_diversity.csv')

# Print data frame's first five rows 
df.head()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
1,2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

In [3]:
df.tail # this is a method, a function

<bound method NDFrame.tail of     year  CSM_winter  CSM_spring  CSM_fall  MUL_winter  MUL_spring  MUL_fall  \
0   2010        39.0        40.0      50.0        45.0         NaN      61.0
1   2011        48.0        44.0       NaN        58.0        52.0       NaN
2   2012        51.0        43.0      49.0        57.0        58.0      53.0
3   2013        42.0        46.0      38.0        60.0        58.0      62.0
4   2014        38.0        43.0      45.0        49.0        52.0      57.0
5   2015        44.0        42.0      45.0        58.0        50.0      51.0
6   2016        41.0        36.0      47.0        63.0        48.0      58.0
7   2017        46.0        41.0      43.0        57.0        54.0      53.0
8   2018        48.0        48.0      44.0        56.0        54.0      57.0
9   2019        39.0        39.0      40.0        57.0        52.0      53.0
10  2020        46.0         NaN      47.0        56.0         NaN      66.0
11  2021        47.0        44.0      53.0        54.0        55.0      60.0
12  2022        40.0        46.0      49.0        60.0        55.0      65.0
13  2023        56.0        43.0      36.0        72.0        59.0      53.0

    SDW_winter  SDW_spring  SDW_fall  TJE_winter  TJE_spring  TJE_fall
0          NaN        75.0      85.0         NaN         NaN      81.0
1         78.0        74.0       NaN        67.0        70.0       NaN
2         71.0        72.0      73.0        70.0        63.0      69.0
3         69.0        70.0      70.0        69.0        74.0      64.0
4         61.0        78.0      71.0        60.0        81.0      62.0
5         71.0        61.0      65.0        73.0        76.0      64.0
6         67.0        62.0      57.0        76.0        76.0      58.0
7         66.0        45.0      54.0        72.0        63.0      57.0
8         55.0        49.0      51.0        66.0        60.0      55.0
9         54.0        55.0      53.0        63.0        54.0      50.0
10        57.0         NaN      58.0        54.0        40.0      54.0
11        57.0        58.0      57.0        53.0        68.0      51.0
12        57.0        60.0      57.0        60.0        61.0      60.0
13        64.0        63.0      33.0        60.0        56.0      38.0  >

In [4]:
df.columns # this is an attribute

Index(['year', 'CSM_winter', 'CSM_spring', 'CSM_fall', 'MUL_winter',
       'MUL_spring', 'MUL_fall', 'SDW_winter', 'SDW_spring', 'SDW_fall',
       'TJE_winter', 'TJE_spring', 'TJE_fall'],
      dtype='object')

In [5]:
df.dtypes # this is an attribute

year            int64
CSM_winter    float64
CSM_spring    float64
CSM_fall      float64
MUL_winter    float64
MUL_spring    float64
MUL_fall      float64
SDW_winter    float64
SDW_spring    float64
SDW_fall      float64
TJE_winter    float64
TJE_spring    float64
TJE_fall      float64
dtype: object

In [6]:
type(df.dtypes)

pandas.core.series.Series

In [7]:
df.shape

(14, 13)

## Selecting a single column 

Simples case: selecting single column by column name 

General syntax: 
```
df['column_name']
```

this is an example of **label-based subsetting**. Which means we select data from our data frame using the *names* of the columns, *not their positions*

### Example

In [8]:
# select number of bird species obserfved at Mugu lagoon in Spring
mul_spring = df['MUL_spring']

mul_spring

0      NaN
1     52.0
2     58.0
3     58.0
4     52.0
5     50.0
6     48.0
7     54.0
8     54.0
9     52.0
10     NaN
11    55.0
12    55.0
13    59.0
Name: MUL_spring, dtype: float64

In [9]:
type(mul_spring) # check col type

pandas.core.series.Series

We can do label-based subsetting of a single col using attribute syntax

`df.column_name`

### Example

In [10]:
df.MUL_spring # atrtibute

0      NaN
1     52.0
2     58.0
3     58.0
4     52.0
5     50.0
6     48.0
7     54.0
8     54.0
9     52.0
10     NaN
11    55.0
12    55.0
13    59.0
Name: MUL_spring, dtype: float64

Favor `df[`column_name`]` instead of `df.column_name`

## Selecting multiple columns ...

... using a list of column names. 

Syntax:

```
df[[`column_1`, `column_10`,`column_245`]]
```

Notice: there are double square brackets. This is because we are passing a list of names to the selection brackets 

### Example

In [11]:
# Select species abundance in Tijuana Estuary during winter and fall 
tje_wf = df[['TJE_winter','TJE_fall']]

# check the data type of tje_wf
print(type(tje_wf))

# check the shape of the selection 
print(tje_wf.shape)

<class 'pandas.core.frame.DataFrame'>
(14, 2)

## ... using a slice 
To slect a slice of the columns we will use a special case of `loc` selection

Syntax:

```
df.loc[ : , `column_start`:`column_end`]
```

`column_start` and `column_end` = starting and ending point of column slice, slice includes both endpoints

- the first value passed to`loc` is used to select rows, using a ':' as the row-selection parameter means "select all the rows"


### Example

In [12]:
# select columns between CSM_winter and MUL_fall
csm_mul = df.loc[ : , 'CSM_winter':'MUL_fall']
csm_mul.head()

   CSM_winter  CSM_spring  CSM_fall  MUL_winter  MUL_spring  MUL_fall
0        39.0        40.0      50.0        45.0         NaN      61.0
1        48.0        44.0       NaN        58.0        52.0       NaN
2        51.0        43.0      49.0        57.0        58.0      53.0
3        42.0        46.0      38.0        60.0        58.0      62.0
4        38.0        43.0      45.0        49.0        52.0      57.0

## Selecting rows ... 

### ... using a condition

Syntax: 
```
df[condition_on_rows]
```

that `condition_on_rows` can be many things 

### Example
We are interested in all data after 2020

In [13]:
# select all rows with year>2020 

post_2020 = df[df['year']>2020]

post_2020

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

condition for our rows =  `df[df['year']>2020]` this is a pandas.series with **boolean values** (True of False) indicates which rows satisfy the condition year > 2020

In [14]:
# check the type of df['year']>2020
print(type(df['year']>2020))

# print the boolean series
print()

<class 'pandas.core.series.Series'>

### Check-in
Get the subset of the data frame on which the San Dieguito Wetland has at least 75 species recorded during spring.

In [15]:
df[df['SDW_spring'] >=75]

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

In [16]:
subset = df[df['year'].between(2012,2015)]
subset

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
5,2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0

- `df['year']' = column with year values, this is a `panda.Series`
- `df['year']`.between()` we have that `between()` is a method for the panda.Series. Calling it using "."

#### Selecting rows by position

sometimes we may want to select rows based on their actual positions in the data frame. 
this is called **position-based subsetting**. we use `iloc` selection

syntax:
```
df.iloc[row-indices]
```

`iloc`= integer-location-based indexing

#### Example

In [17]:
# select fifth row (index = 4)

df.iloc[4]

year          2014.0
CSM_winter      38.0
CSM_spring      43.0
CSM_fall        45.0
MUL_winter      49.0
MUL_spring      52.0
MUL_fall        57.0
SDW_winter      61.0
SDW_spring      78.0
SDW_fall        71.0
TJE_winter      60.0
TJE_spring      81.0
TJE_fall        62.0
Name: 4, dtype: float64

In [18]:
df

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
1,2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
5,2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0
6,2016,41.0,36.0,47.0,63.0,48.0,58.0,67.0,62.0,57.0,76.0,76.0,58.0
7,2017,46.0,41.0,43.0,57.0,54.0,53.0,66.0,45.0,54.0,72.0,63.0,57.0
8,2018,48.0,48.0,44.0,56.0,54.0,57.0,55.0,49.0,51.0,66.0,60.0,55.0
9,2019,39.0,39.0,40.0,57.0,52.0,53.0,54.0,55.0,53.0,63.0,54.0,50.0
10,2020,46.0,NaN,47.0,56.0,NaN,66.0,57.0,NaN,58.0,54.0,40.0,54.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

In [21]:
df2 = df.set_index('year') # setting the index to the year col
df2

,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
year,,,,,,,,,,,,
2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0
2016,41.0,36.0,47.0,63.0,48.0,58.0,67.0,62.0,57.0,76.0,76.0,58.0
2017,46.0,41.0,43.0,57.0,54.0,53.0,66.0,45.0,54.0,72.0,63.0,57.0
2018,48.0,48.0,44.0,56.0,54.0,57.0,55.0,49.0,51.0,66.0,60.0,55.0
2019,39.0,39.0,40.0,57.0,52.0,53.0,54.0,55.0,53.0,63.0,54.0,50.0
2020,46.0,NaN,47.0,56.0,NaN,66.0,57.0,NaN,58.0,54.0,40.0,54.0
2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

In [24]:
# selecting 5th row by index label // loc is indexing by LABELS
df2.loc[2014]

CSM_winter    38.0
CSM_spring    43.0
CSM_fall      45.0
MUL_winter    49.0
MUL_spring    52.0
MUL_fall      57.0
SDW_winter    61.0
SDW_spring    78.0
SDW_fall      71.0
TJE_winter    60.0
TJE_spring    81.0
TJE_fall      62.0
Name: 2014, dtype: float64

#### Select rows and columns simultaneously

Can be done using `loc` (labels) or `iloc` (positions)

#### .. by labels or conditions

syntax:
```
df.loc[row-selection, column-selection]
```
#### Example
select winter surveys for Mugu Lagoon and Tijuana Estuary after 2020

In [27]:
df.loc[df['year']>2020, ['MUL_winter','TJE_winter']]

    MUL_winter  TJE_winter
11        54.0        53.0
12        60.0        60.0
13        72.0        60.0

#### ... by position
use `iloc`

syntax:
```
df.iloc[row-indices, column-indices]
```

#### Example
suppose we want to select rows 3-7 (including 7) and fourth and fifth columns

In [28]:
df.iloc[3:8,[3,4]]

   CSM_fall  MUL_winter
3      38.0        60.0
4      45.0        49.0
5      45.0        58.0
6      47.0        63.0
7      43.0        57.0