# Subsetting 

Review core methods to select data from a `pandas.DataFrame`

## Read in CSV

In [15]:
import pandas as pd # import pandas library

# Read in file, argument is in the file path 
df = pd.read_csv('data/wetlands_seasonal_bird_diversity.csv')

# Print data frame's first five rows 
df.head()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
1,2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

In [7]:
df.tail # this is a method, a function 

df.columns # this is an attribute 

df.dtypes # this is an attribute

type(df.dtypes)

df.shape

(14, 13)

## Selecting a single column 

Simples case: selecting single column by column name 

General syntax: 
```
df['column_name']
```

this is an example of **label-based subsetting**. Which means we select data from our data frame using the *names* of the columns, *not their positions*

### Example

In [8]:
# select number of bird species obserfved at Mugu lagoon in Spring
mul_spring = df['MUL_spring']

mul_spring

0      NaN
1     52.0
2     58.0
3     58.0
4     52.0
5     50.0
6     48.0
7     54.0
8     54.0
9     52.0
10     NaN
11    55.0
12    55.0
13    59.0
Name: MUL_spring, dtype: float64

In [9]:
type(mul_spring)

pandas.core.series.Series

We can do label-based subsetting of a single col using attribute syntax

`df.column_name`

### Example

In [10]:
df.MUL_spring # atrtibute

0      NaN
1     52.0
2     58.0
3     58.0
4     52.0
5     50.0
6     48.0
7     54.0
8     54.0
9     52.0
10     NaN
11    55.0
12    55.0
13    59.0
Name: MUL_spring, dtype: float64

Favor `df[`column_name`]` instead of `df.column_name`

## Selecting multiple columns ...

... using a list of column names. 

Syntax:

```
df[[`column_1`, `column_10`,`column_245`]]
```

Notice: there are double square brackets. This is because we are passing a list of names to the selection brackets 

### Example

In [12]:
# Select species abundance in Tijuana Estuary during winter and fall 
df[['TJE_winder','TJE_fall']]

# check the data type of tje_wf
print(type(tje_wf))

# check the shape of the selection 
print(tje_wf.shape)

KeyError: "['TJE_winder'] not in index"

## ... using a slice 
To slect a slice of the columns we will use a special case of `loc` selection

Syntax:

```
df.loc[ : , `column_start`:`column_end`]
```

`column_start` and `column_end` = starting and ending point of column slice, slice includes both endpoints

- the first value passed to`loc` is used to select rows, using a ':' as the row-selection parameter means "select all the rows"


### Example

In [ ]:
# select columns between CSM_winter and MUL_fall
csm_mul = df.loc[ : , 'CSM_winter':'MUL_fall']
csm_mul.head()

## Selecting rows ... 

### ... using a condition

Syntax: 
```
df[condition_on_rows]
```

that `condition_on_rows` can be many things 

### Example
We are interested in all data after 2020

In [13]:
# select all rows with year>2020 

post_2020 = df[df['year']>2020]

post_2020

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

condition for our rows =  `df[df['year']>2020]` this is a pandas.series with **boolean values** (True of False) indicates which rows satisfy the condition year > 2020

In [ ]:
# check the type of df['year']>2020
print(type(df['year']>2020))

# print the boolean series
print()

### Check-in
Get the subset of the data frame on which the San Dieguito Wetland has at least 75 species recorded during spring.

In [ ]:
df[df['SDW_spring'] >=75]

In [ ]:
subset = df[df['year'].between(2012,2015)]
subset

- `df['year']' = column with year values, this is a `panda.Series`
- `df['year']`.between()` we have that `between()` is a method for the panda.Series. Calling it using "."